<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.trip.base.mapper.TravelContentMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.TravelContent" >
    <id column="id" property="id" />
    <result column="content" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from travelcontent
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.wolfcode.trip.base.domain.TravelContent" useGeneratedKeys="true" keyProperty="id" >
    insert into travelcontent (content)
    values (#{content})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.wolfcode.trip.base.domain.TravelContent" >
    update travelcontent
    set content = #{content}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, content
    from travelcontent
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, content
    from travelcontent
  </select>
</mapper>